.custom-button {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: darken(10%);
  transform: scale(1.1);
}
